/* styles for DESKTOP devices */
@media only screen and (min-width: 992px) {
	body {
		background-color: lightgrey;
		margin: 0px;
	}

	header {
		height: 100vh;
		overflow: hidden;
		position: relative;
		margin-bottom: 20px;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	.Container {
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}

	.Bear {
		filter: blur(8px);
		width: 102%;
		height: 102%;
		object-fit: cover;
	}

	.Logo {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		height: 500px;
		width: 500px;
	}

	.First_Grid {
		display: grid;
		grid-template-columns: .6fr .4fr;
		gap: 2rem;
	}

	.Elephant_Block {
		position: relative;
		display: block;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		grid-row: span 2;
	}

	.Elephant_Image {
		width: 100%;
		border: 1px solid yellow;
		object-fit: cover;
		box-sizing: border-box;
		aspect-ratio: 16/9;
	}

	.Elephant_Text {
		margin-top: -30px;
		padding: 25px;
		font-family: 'Roboto';
		font-size: larger;
		font-weight: 700;
	}

	.TwoAnimalsBlock {
		padding: 25px;
		position: relative;
		display: flex;
		background-color: white;
	}

	.Hover:hover {
		background-color: black;
		color: white;
		transition: 300ms ease;
	}

	.TwoAnimalsImage {
		border: 1px solid yellow;
		object-fit: cover;
		height: 89px;
		width: 160px;
	}

	.TwoAnimalsText {
		margin-top: -40px;
		padding: 20px;
		font-family: 'Roboto';
		font-size: small;
		font-weight: 700;
	}

	.Second_Grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: min-content;
		margin-top: 30px;
		gap: 30px;
		margin-bottom: 100px;
	}

	.ThreeAnimalsBlock {
		background-color: white;
		color: black;
	}

	.ThreeAnimalsImage {
		width: 100%;
		border: 1px solid yellow;
		object-fit: cover;
		box-sizing: border-box;
		aspect-ratio: 16/9;
		display: block;
	}

	.ThreeAnimalsText {
		padding-left: 20px;
		padding-bottom: 10px;
		padding-right: 20px;
		font-family: 'Roboto';
		font-size: smaller;
		font-weight: 700;
	}
}

/* Styles for TABLET devices */
/* @media only screen and (min-width: 768px) and (max-width:991px) {
	body {
		background-color: lightgrey;
		margin: 0px;
	}

	header {
		height: 100vh;
		overflow: hidden;
		position: relative;
		margin-bottom: 20px;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	.Container {
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}

	.Bear {
		filter: blur(8px);
		width: 102%;
		height: 102%;
		object-fit: cover;
	}

	.Logo {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		height: 500px;
		width: 500px;
	}

	.First_Grid {
		display: grid;
		grid-template-columns: .6fr .4fr;
		gap: 2rem;
	}

	.Elephant_Block {
		position: relative;
		display: block;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		grid-row: span 2;
	}

	.Elephant_Block:hover {
		background-color: black;
		color: white;
		transition: 300ms ease;
	}

	.Elephant_Image {
		width: 100%;
		border: 1px solid yellow;
		object-fit: cover;
		box-sizing: border-box;
		aspect-ratio: 16/9;
	}

	.Elephant_Text {
		margin-top: -30px;
		padding: 25px;
		font-family: 'Roboto';
		font-size: larger;
		font-weight: 700;
	}

	.TwoAnimalsBlock {
		padding: 25px;
		position: relative;
		display: flex;
		background-color: white;
	}

	.TwoAnimalsBlock:hover {
		background-color: black;
		color: white;
		transition: 300ms ease;
	}

	.TwoAnimalsImage {
		border: 1px solid yellow;
		object-fit: cover;
		height: 89px;
		width: 160px;
	}

	.TwoAnimalsText {
		margin-top: -40px;
		padding: 20px;
		font-family: 'Roboto';
		font-size: small;
		font-weight: 700;
	}

	.Second_Grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: min-content;
		margin-top: 30px;
		gap: 30px;
		margin-bottom: 100px;
	}

	.ThreeAnimalsBlock {
		background-color: white;
		color: black;
	}

	.ThreeAnimalsBlock:hover {
		background-color: black;
		color: white;
		transition: 300ms ease;
	}

	.ThreeAnimalsImage {
		width: 100%;
		border: 1px solid yellow;
		object-fit: cover;
		box-sizing: border-box;
		aspect-ratio: 16/9;
		display: block;
	}

	.ThreeAnimalsText {
		padding-left: 20px;
		padding-bottom: 10px;
		padding-right: 20px;
		font-family: 'Roboto';
		font-size: smaller;
		font-weight: 700;
	}
} */
/* Styles for MOBILE devices */
/* @media only screen and (max-width: 767px) {
	body {
		background-color: lightgrey;
		margin: 0px;
	}

	header {
		height: 100vh;
		overflow: hidden;
		position: relative;
		margin-bottom: 20px;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	.Container {
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
	}

	.Bear {
		filter: blur(8px);
		width: 102%;
		height: 102%;
		object-fit: cover;
	}

	.Logo {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		height: 500px;
		width: 500px;
	}

	.First_Grid {
		display: grid;
		grid-template-columns: .6fr .4fr;
		gap: 2rem;
	}

	.Elephant_Block {
		position: relative;
		display: block;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		grid-row: span 2;
	}

	.Elephant_Block:hover {
		background-color: black;
		color: white;
		transition: 300ms ease;
	}

	.Elephant_Image {
		width: 100%;
		border: 1px solid yellow;
		object-fit: cover;
		box-sizing: border-box;
		aspect-ratio: 16/9;
	}

	.Elephant_Text {
		margin-top: -30px;
		padding: 25px;
		font-family: 'Roboto';
		font-size: larger;
		font-weight: 700;
	}

	.TwoAnimalsBlock {
		padding: 25px;
		position: relative;
		display: flex;
		background-color: white;
	}

	.TwoAnimalsBlock:hover {
		background-color: black;
		color: white;
		transition: 300ms ease;
	}

	.TwoAnimalsImage {
		border: 1px solid yellow;
		object-fit: cover;
		height: 89px;
		width: 160px;
	}

	.TwoAnimalsText {
		margin-top: -40px;
		padding: 20px;
		font-family: 'Roboto';
		font-size: small;
		font-weight: 700;
	}

	.Second_Grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: min-content;
		margin-top: 30px;
		gap: 30px;
		margin-bottom: 100px;
	}

	.ThreeAnimalsBlock {
		background-color: white;
		color: black;
	}

	.ThreeAnimalsBlock:hover {
		background-color: black;
		color: white;
		transition: 300ms ease;
	}

	.ThreeAnimalsImage {
		width: 100%;
		border: 1px solid yellow;
		object-fit: cover;
		box-sizing: border-box;
		aspect-ratio: 16/9;
		display: block;
	}

	.ThreeAnimalsText {
		padding-left: 20px;
		padding-bottom: 10px;
		padding-right: 20px;
		font-family: 'Roboto';
		font-size: smaller;
		font-weight: 700;
	}
} */